<div class="="container>
    <h2>research vault page</h2>
    
     
    <ul>
            <li><button><a routerLink= "/research-vault/fml-bux">fml bux</a></button></li>
            <li><button><a routerLink= "/research-vault/theaters">theaters</a></button></li>
             <li><button><a routerLink="/research-vault/fml-bux">best performers</a></button></li>
            <li><button><a routerLink="/research-vault/pick-rate">pick-rate</a></button>
           <li><button><a routerLink="/research-vault/box-office">box box-office</a></button> 
              </ul>
            </div>
            <router-outlet></router-outlet>
