<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    </h1>
    <div class="list">
    
      <ul>
          <li><button><a routerLink="/home">home</a></button></li>
          <li><button><a routerLink="/leagues">leagues</a></button></li>
          <li><button><a routerLink="/insider">insider</a></button></li>
          <li><button><a routerLink="/how-to-play/howto-play2">how to play</a></button></li>
          <li><button><a routerLink="/research-vault/fml-bux">research vault</a></button></li>
          <li><button><a routerLink="login">login</a></button></li>

      </ul>

</div>

<router-outlet></router-outlet>

